/* Add this in your CSS file */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import '@fortawesome/fontawesome-free/css/all.min.css';

.image{
    width: 400px;
}

ul{
list-style-type: none;
}

span{
    color: red;
    font-weight: bold;
}

.related-movies{
    margin-top: 90px;
}


.details{
    margin-right: 300px;
}