.container {
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden; 
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background.jpeg');
  background-size: contain;
  background-position: center;
  z-index: 1; 

  
}
.personName,.tvshowTitle{
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 2; 
}

.content {
  position: relative;
  z-index: 3;
  padding-top: 15%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  color: white; 
  max-width: 800px; 
  margin: 0 auto; 
}

h1 {
  margin: 0;
  font-size: 4rem; 
}
h5{
 color: red;
 margin-top: 20px;
}

p {
  font-size: 1.5rem;
  color: #d1d1d1; 
}

.subtitle {
  color: red;
}

/* Slider Styles */
.sliderContainer {
  position: relative; /* Ensure proper stacking */
  margin-top: 220px; /* Space above the slider */
  z-index: 3; /* On top of everything */
  background-color: black;
  padding-top: 30px; /* Space above the "Trending Now" header */
  
}

/* Card Styles */
.card {
  padding: 10px; 
  position: relative; 
  transition: transform 0.3s; 
  text-align: center; 
  margin-bottom: 30px;
}

.card:hover {
  transform: scale(1.05); 
}

.cardImage {
  width: 100%;
  border-radius: 8px; 
}

.movieTitle {
  margin-top: 20px; 
  font-size: 1rem;
  font-weight: bold;
  color: white; 
}

/* Rank number styles */
.rankNumber {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2; 
}

.trendTitle {
  margin-top: 70px;
  margin-bottom: 100px;
  color: red;
}

.trendTitle h2 {
  color: red;
}
/* Genres styles */
.genres {
  position: absolute;
  bottom: -30px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease, bottom 0.5s ease; 
}

.card:hover .genres {
  bottom: 35px; 
  opacity: 1; 
}

/* Genre text styles */
.genreText {
  background-color: yellow;
  color: black;
  padding: 5px 8px;
  margin-right: 9px;
  border-radius: 15px;
  cursor: default;
  font-size: 0.8rem;
  font-weight: bold;
}
.readyText {
  color: red;
  margin-top: 20px;
  font-weight: bold;
}
